
.menu__option{
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  height: 70px;
  align-items: center;
}

.activated{
  position: relative;
  background: linear-gradient(to right,#0077B6, #00B4D8 60%);
}

.activated::after,
.activated::before{
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: transparent;
  right: -2px;
}

.activated::after{
  top: 100%;
  border-top-right-radius: 25px;
  box-shadow: 0 -15px 0 0 #00B4D8;
}
.activated::before{
  bottom: 100%;
  border-bottom-right-radius: 25px;
  box-shadow: 0 15px 0 0 #00B4D8;
}
